<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<p> <strong>Ingredients</strong>
  <% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %> / <%= dose.description %>
  <%end %>
</p>


<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>|
<%= link_to 'Add a Ingredient', new_cocktail_dose_path(@cocktail) %>

